<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenhl.tssm.mapper.RouteConfAppMapper">

    <sql id="Base_Column_List">
    id, app_name, app_code, system_code, system_type, memo, create_operator_id, modify_operator_id,
    gmt_create, gmt_modified, is_deleted, update_version
    </sql>

    <select id="selectById" resultType="com.chenhl.tssm.domain.RouteConfAppDO" parameterType="long">
        select
        <include refid="Base_Column_List"/>
        from oms_route_conf_app where id=#{id}
    </select>

    <insert id="insert" parameterType="com.chenhl.tssm.domain.RouteConfAppDO">
        insert oms_route_conf_app(
        app_name, app_code, system_code, system_type, memo,
        create_operator_id, modify_operator_id,is_deleted, update_version)
        value (
        #{appName}, #{appCode}, #{systemCode}, #{systemType},#{memo},
        #{createOperatorId}, #{modifyOperatorId},0, 0
        )
    </insert>
</mapper>